In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data1 = pd.read_csv('F:/0.1 ExcelR Institute/Data Science/Assignments/Multi Linear Regression/ToyotaCorolla.csv',encoding= 'unicode_escape')

In [3]:
data1

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,...,1,1,1,0,1,1,1,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,...,0,0,1,0,0,1,1,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,...,0,0,1,0,0,0,1,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,...,0,0,0,0,0,0,1,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
# data1.info()

In [5]:
data=data1[["Age_08_04","KM","HP","cc","Doors","Gears","Quarterly_Tax","Weight","Price"]]

In [6]:
# data

In [7]:
data.describe()

,Age_08_04,KM,HP,cc,Doors,Gears,Quarterly_Tax,Weight,Price
count,1436.000000,1436.000000,1436.000000,1436.00000,1436.000000,1436.000000,1436.000000,1436.00000,1436.000000
mean,55.947075,68533.259749,101.502089,1576.85585,4.033426,5.026462,87.122563,1072.45961,10730.824513
std,18.599988,37506.448872,14.981080,424.38677,0.952677,0.188510,41.128611,52.64112,3626.964585
min,1.000000,1.000000,69.000000,1300.00000,2.000000,3.000000,19.000000,1000.00000,4350.000000
25%,44.000000,43000.000000,90.000000,1400.00000,3.000000,5.000000,69.000000,1040.00000,8450.000000
50%,61.000000,63389.500000,110.000000,1600.00000,4.000000,5.000000,85.000000,1070.00000,9900.000000
75%,70.000000,87020.750000,110.000000,1600.00000,5.000000,5.000000,85.000000,1085.00000,11950.000000
max,80.000000,243000.000000,192.000000,16000.00000,5.000000,6.000000,283.000000,1615.00000,32500.000000

In [8]:
data.corr()

,Age_08_04,KM,HP,cc,Doors,Gears,Quarterly_Tax,Weight,Price
Age_08_04,1.000000,0.505672,-0.156622,-0.098084,-0.148359,-0.005364,-0.198431,-0.470253,-0.876590
KM,0.505672,1.000000,-0.333538,0.102683,-0.036197,0.015023,0.278165,-0.028598,-0.569960
HP,-0.156622,-0.333538,1.000000,0.035856,0.092424,0.209477,-0.298432,0.089614,0.314990
cc,-0.098084,0.102683,0.035856,1.000000,0.079903,0.014629,0.306996,0.335637,0.126389
Doors,-0.148359,-0.036197,0.092424,0.079903,1.000000,-0.160141,0.109363,0.302618,0.185326
Gears,-0.005364,0.015023,0.209477,0.014629,-0.160141,1.000000,-0.005452,0.020613,0.063104
Quarterly_Tax,-0.198431,0.278165,-0.298432,0.306996,0.109363,-0.005452,1.000000,0.626134,0.219197
Weight,-0.470253,-0.028598,0.089614,0.335637,0.302618,0.020613,0.626134,1.000000,0.581198
Price,-0.876590,-0.569960,0.314990,0.126389,0.185326,0.063104,0.219197,0.581198,1.000000

In [9]:
# sns.pairplot(data)

In [10]:
data.columns

Index(['Age_08_04', 'KM', 'HP', 'cc', 'Doors', 'Gears', 'Quarterly_Tax',
       'Weight', 'Price'],
      dtype='object')

In [15]:
x=data[['Age_08_04', 'KM', 'HP', 'cc', 'Doors', 'Gears', 'Quarterly_Tax',
       'Weight']]
y=data[['Price']]

In [16]:
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train, y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [41]:
from sklearn import linear_model

In [42]:
models=linear_model.LinearRegression()

In [43]:
models.fit(x_train,y_train)

LinearRegression()

In [44]:
models.coef_.round()

array([[-120.,   -0.,   29.,   -0.,    6.,  566.,    1.,   19.]])

In [45]:
y_predict=models.predict(x_test)

In [46]:
y_predict

array([[11334.87722086],
       [ 8930.64945599],
       [ 9548.86462071],
       [ 8965.06576035],
       [10038.78235718],
       [ 7802.95638398],
       [ 8754.41363983],
       [ 8334.34227338],
       [14109.59893395],
       [13191.99921717],
       [ 9352.33990982],
       [ 9378.3801004 ],
       [12994.57748768],
       [13098.89251578],
       [ 9733.43058709],
       [ 8264.43003984],
       [12298.27553648],
       [17507.68271251],
       [ 7224.72741633],
       [ 9214.19715853],
       [12788.74204799],
       [17805.75966311],
       [ 7908.65782598],
       [10513.55219101],
       [ 7366.64403153],
       [15972.67442836],
       [ 9576.60128945],
       [ 7187.02006794],
       [15508.80065429],
       [14591.87579892],
       [ 8113.42063551],
       [ 9915.5628025 ],
       [ 8539.0292156 ],
       [10100.15393693],
       [10288.08205495],
       [ 8021.71758831],
       [ 8884.91657665],
       [ 9965.1815385 ],
       [16202.16611623],
       [ 9442.64885989],
       [ 9895.80281464],
       [ 9547.942173  ],
       [ 7883.21047793],
       [ 5277.97505239],
       [ 6776.85334855],
       [16996.97826197],
       [ 9433.55480281],
       [10681.66343974],
       [ 8761.00136524],
       [13578.17910876],
       [13097.01587786],
       [ 6340.99141104],
       [14690.60069385],
       [16177.09475966],
       [ 5877.66055221],
       [ 7713.88963444],
       [10443.89017447],
       [10739.01878399],
       [15967.88092364],
       [19306.8702593 ],
       [12576.91018549],
       [ 8226.76149242],
       [ 7806.76064531],
       [10966.27857619],
       [13413.70063613],
       [ 8867.50204174],
       [13148.05383465],
       [ 7439.98240782],
       [ 8211.38634851],
       [10816.22688305],
       [20421.21015277],
       [11094.98047256],
       [13049.63944126],
       [ 7446.05927825],
       [18662.77678076],
       [13806.65436659],
       [ 8195.21796027],
       [ 7508.37262135],
       [ 9826.38416827],
       [ 9156.11824878],
       [10313.1041311 ],
       [ 8607.35641321],
       [10453.40721619],
       [10824.75370144],
       [ 7549.78616577],
       [ 6198.96138259],
       [11094.30032052],
       [13085.26131661],
       [ 9573.55135111],
       [10949.68989462],
       [ 7778.68665293],
       [ 6516.79967085],
       [10530.91305131],
       [10857.69234472],
       [12778.71535909],
       [ 9244.86803177],
       [21624.19313647],
       [ 7847.58950474],
       [14108.07722213],
       [ 8643.7214757 ],
       [10838.7706202 ],
       [ 9650.81125469],
       [10670.09165   ],
       [16588.98004418],
       [ 8834.33369204],
       [ 7600.30829656],
       [16698.41433105],
       [ 7739.38343233],
       [ 9696.06973143],
       [ 8683.36299442],
       [11756.775784  ],
       [10602.74324841],
       [ 9861.21117019],
       [13859.88950679],
       [ 9441.72335823],
       [ 8139.02009213],
       [ 6433.53498438],
       [13484.02234381],
       [12525.80067943],
       [13999.06763696],
       [ 7852.2209362 ],
       [ 7314.19094528],
       [ 8299.72365458],
       [15263.5715055 ],
       [11710.47558443],
       [ 8906.2952052 ],
       [13143.95406692],
       [ 9080.28053831],
       [ 8492.85237961],
       [12657.30448516],
       [11228.10866711],
       [15417.39593651],
       [10550.1049651 ],
       [ 9467.37682586],
       [ 6403.82732286],
       [ 9377.34331607],
       [10333.05674914],
       [11602.20037329],
       [ 8294.20556197],
       [ 4827.18536872],
       [12414.00842797],
       [10874.42988258],
       [12448.87592093],
       [ 8371.28301552],
       [12269.76504411],
       [11364.64624089],
       [ 7063.11871924],
       [ 8599.23278138],
       [ 8285.90087813],
       [11327.93760014],
       [10371.70136558],
       [15916.39923149],
       [ 8448.12180301],
       [ 9129.98600828],
       [11284.35330691],
       [11069.50272046],
       [ 8732.73692093],
       [13368.86244793],
       [10023.79473966],
       [19081.93317915],
       [11184.94032954],
       [15494.05441018],
       [15218.06431262],
       [ 7719.2459595 ],
       [ 8973.8564858 ],
       [12852.44687005],
       [ 7947.64335805],
       [13588.94927727],
       [ 8232.44940666],
       [ 7551.81480685],
       [ 8139.86434075],
       [12414.15964873],
       [ 9347.49884696],
       [12896.3581088 ],
       [10440.2551111 ],
       [ 9420.50919859],
       [16611.05439734],
       [10722.42765527],
       [ 9752.72785042],
       [10565.12566922],
       [12309.38091304],
       [10999.32642129],
       [13751.56433396],
       [ 7812.8955215 ],
       [ 9198.74408949],
       [ 7552.2154783 ],
       [ 5908.49930381],
       [ 8249.39911215],
       [ 9659.25182627],
       [10956.01604494],
       [ 9156.45986407],
       [ 7437.14299676],
       [ 6061.48483996],
       [11242.99074369],
       [10456.73275269],
       [10999.89769903],
       [ 6912.70064266],
       [ 7189.36077893],
       [ 9994.97425877],
       [17615.27689373],
       [ 9244.21312032],
       [ 7697.74352333],
       [ 6956.1295858 ],
       [ 8671.18885062],
       [15977.80056806],
       [17019.36546147],
       [10632.94444077],
       [10056.07264504],
       [10996.00687472],
       [ 9114.81790972],
       [ 9027.08754864],
       [11194.3190378 ],
       [ 9794.53502475],
       [10198.13059984],
       [ 6864.62764829],
       [11751.79855747],
       [ 7847.76374677],
       [ 9243.56992594],
       [ 7198.36342022],
       [11460.78631369],
       [ 8650.80900307],
       [10651.92035542],
       [10915.76995546],
       [10136.6683313 ],
       [17215.38439046],
       [ 6494.23453827],
       [16026.13387422],
       [ 7432.17433033],
       [13266.2579154 ],
       [ 7301.35426348],
       [12345.01866081],
       [ 9604.77985833],
       [26880.66315724],
       [ 7821.38436928],
       [ 9330.38380901],
       [ 8279.71009893],
       [13909.00008012],
       [13223.05869107],
       [10117.93332527],
       [ 8564.44652609],
       [13866.13339498],
       [19067.34650338],
       [13682.79120897],
       [ 9596.99957169],
       [20766.44384279],
       [ 9726.07843634],
       [ 9310.2019799 ],
       [ 9948.3389447 ],
       [10046.09376941],
       [ 9157.02649644],
       [ 8587.88668091],
       [10445.25741089],
       [ 8659.1819897 ],
       [ 5262.10385269],
       [10494.83018859],
       [10846.99489944],
       [ 6723.94398992],
       [10063.68834351],
       [13410.24056606],
       [10978.21889685],
       [12907.78296492],
       [ 6943.57360983],
       [ 5956.16207412],
       [10667.79436419],
       [ 6476.86359363],
       [12250.81491281],
       [13261.97882747],
       [ 5248.20159791],
       [ 8712.89266223],
       [ 8003.03438377],
       [13247.45678376],
       [15536.79436792],
       [ 6667.33824517],
       [13561.89775962],
       [ 7787.61020474],
       [ 7232.5215136 ],
       [ 8458.71566045],
       [ 7770.11893953],
       [ 6176.89756245],
       [22899.36886512],
       [22989.73086875],
       [10298.34418488],
       [ 7191.65132121],
       [19042.14271026],
       [ 8132.45595927],
       [13588.76282264],
       [10702.2350185 ],
       [10790.74617266]])

In [47]:
models.score(x_test,y_test)

0.8538352805672254

In [48]:
import sklearn.metrics as sm

In [49]:
sm.mean_absolute_error(y_test,y_predict)

995.5863850096001

In [50]:
sm.mean_squared_error(y_test,y_predict)

1950244.9877904248

In [51]:
sm.median_absolute_error(y_test,y_predict)

743.9175866690166

In [52]:
y_test.shape

(288, 1)

In [53]:
y_test.head()

      Price
594   10800
754    9950
630    7500
1259   9250
903    9750

In [54]:
y_predict.shape

(288, 1)

In [55]:
sm.explained_variance_score(y_test,y_predict)

0.8540763134733669

In [56]:
from sklearn.metrics import r2_score

In [57]:
r2_score(y_test,y_predict)

0.8538352805672254